html
  head
    title Look Inna Book


body
  h1 Welcome to Look Inna Book
  h2 One-Stop-Shop for All Your Book Needs!

  if(user)
    p= "Logged in as: " + user
    a(href="http://localhost:3000/cart") View Cart
    br
    br
    a(href="http://localhost:3000/purchase") View Purchases
    br
    br
  if(!user)
    a(href='http://localhost:3000/login') Login
    br
    br
    a(href='http://localhost:3000/register') Register
  else
    a(href='http://localhost:3000/logout') Logout
  br
  br
  a(href='http://localhost:3000/browse') Browse Books
